*{
	margin: 0;
	padding: 0;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(170, 140, 140);
}

.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;
	border: 2px solid rgb(50, 50, 50);
}

.cell {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cell img {
	width: 56px;
	height: 56px;
	position: relative;
}

.black {
	background-color: rgb(50, 50, 50);
}
.white {
	background-color: rgb(233, 141, 141);
}

.selected {
	background-color: rgba(155, 90, 155, 0.7);
}
.available {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgba(155, 90, 155, 0.7);
}

